@{
    ViewData["Title"] = "Text Details";
}

<div>
    <h3>id: @(ViewContext.RouteData.Values["id"])</h3>

    <h3>relation: @(ViewData["relation"])</h3>

    <h3>region: @(ViewData["region"])</h3>
</div>

