@{
    ViewData["Title"] = "Text Statistics";
}

<div>
    <h3>TextNum: @(ViewContext.RouteData.Values["textNum"])</h3>

    <h3>HighRankPart: @(ViewContext.RouteData.Values["highRankPart"])</h3>

    <h3>AvgRank:  @(ViewContext.RouteData.Values["avgRank"])</h3>
</div>

